.recentViewsTable {
  width: 90%;
  margin: 0 auto;
}

tr td:nth-child(2) {
  text-align: center;
}

tr td:nth-child(3) {
  text-align: center;
}

tr td:nth-child(4) {
  text-align: center;
}

th,
td {
  border-style: dotted;
}
